@import '../src/styles/variable';
@import '../src/components/Header/header';
@import '../src/components/Banner/banner';
@import '../src/pages/Register/register';
@import '../src/pages/Register/modal-alert';
@import '../src/pages/CreateCharacter/character';
@import '../src/components/Footer/footer';
@import '../src/components/DesignQuiz/design-quiz';
@import '../src/components/CardsRoom/cards-room';
@import '../src/pages/Shop/shop';
@import '../src/components/Header/login-modal';
@import '../src/pages/ModalChooseRoom/choose-room';
.container {
    width:480px;
    height: 100vh;
    margin: auto;
}

@media(min-width:768px){
    .container{
        width:768px;
    }
}
@media(min-width:1440px){
    .container {
        width:1440px;
    }
}